.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0 150px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 10px;
}

.gallery-link {
  display: block;
  position: relative;
}

.gallery-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.05);
}
